################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShoppingCart/.vs
/ShoppingCart/bin
/ShoppingCart/obj
